body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #1a6d00;
  color: rgb(177, 149, 149);
}

#hand {
  margin: 20px;
}

.card {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
}
